* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    max-width: 960px;
    margin: 0 auto;
}

#logo {
    float: left;
    width: 300px;
    height: 150px;
}

#main-nav {
    font-size: 2em;
    text-align: center;
    float: right;
}

#main-nav ul {
    list-style-type: none;
}

#main-nav ul li {
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 0;
    margin-top: 90px;
    padding: 10px;
    background: #ddd;
    
}

#main-content {
    clear: both;
    padding-top: 50px;
}

.showcase img {
    margin-right: 25px;
    margin-bottom: 25px;
    
}

.showcase img:nth-child(3n) {
    margin-right: 0;
}

.features p {
    width: 300px;
    padding-right: 30px;
    margin-bottom: 20px;
    float: left;
}

.features p:last-child {
    padding-right: 0;
}

footer {
    clear: both;
    background: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

footer div {
    max-width: 960px;
    margin: 0 auto;
}

#footer-nav {
    float: left;
}

#footer-nav ul {
    list-style-type: none;
}

#footer-nav ul li {
    display: inline;
    padding-right: 10px;
}

#copyright {
    float: right;
}