nav {
    text-align: center;
}

.hparagraph {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}


li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}